.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .corner {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-pref-width: 8px;
}

.scroll-bar .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.scroll-bar .thumb {
    -fx-background-color: #88888880;
    -fx-background-radius: 5px;
}




.text-area {
    -fx-background-color: transparent; /* 背景透明 */
    -fx-control-inner-background: transparent; /* 内部背景透明 */
    -fx-background-insets: 0; /* 移除背景填充 */
    -fx-background-radius: 0; /* 移除背景圆角 */
    -fx-padding: 0; /* 移除内边距 */
    -fx-border-color: transparent; /* 边框透明 */
}

.text-area:focused {
    -fx-background-color: transparent; /* 聚焦时背景透明 */
    -fx-control-inner-background: transparent; /* 聚焦时内部背景透明 */
    -fx-border-color: transparent; /* 聚焦时边框透明 */
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area .scroll-bar {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-pref-width: 8px;
}

.text-area .scroll-bar:horizontal .increment-button,
.text-area .scroll-bar:horizontal .decrement-button,
.text-area .scroll-bar:vertical .increment-button,
.text-area .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

/* 设置滚动条滑块样式 */
.text-area .scroll-bar .thumb {
    -fx-background-color: #88888880;
    -fx-background-radius: 5px;
}








.text-field {
    -fx-background-color: transparent;
    /*-fx-control-inner-background: transparent;*/
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
}