.text-field {
    -fx-background-color: transparent;
    /*-fx-control-inner-background: transparent;*/
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
}